
body , .main , .grid-wrap {
background: #2d3a4a;
margin: 0;
}
.title {
  display: inline-block;
  font-family: 'Sancreek', cursive;
  font-size: 2em;
  color: #f92809;
}
h1 {
  display: inline-block;
  margin: 0;
  text-shadow: 0px 0px 30px white
}
h1 > span {
  font-size: 0.5em;
}

.main {
  margin: 30px auto ;
  width: 660px;
  text-align: center;
}

.turn {
  display: inline-block;
  width: 100%;
  font-family: 'Sancreek', cursive;
  color: white;
  font-size: 2em;
}

.grid-wrap , .playAgain {
  display: inline-block;
  border-radius: 10%;
  width: 50%;
  text-align: center;
}

.grid-wrap {
  position: relative;
  padding: 10px;
  margin: 2px;
}

.scoreList {
  display: inline-block;
  width: 53%;
  color: #4ac9b4;
  font-size: 1.7em
}

.grid {
  display: inline-block;
  margin: 1%;
  width: 100px;
  height: 100px;
  background-color: white;
  cursor: pointer;
  border-radius: 30%;
}

.playerOne {
  background-color: #f65d4f;
  color: white;
}

.playerTwo {
  background-color: #4ac9b4;
  color: #4ac9b4;
}

.playAgain {
  background-color: #eb5612;
  opacity: 0.9;
  font-family: 'Sancreek', cursive;
  font-size: 1.5em;
  color: white;

  position: absolute;
  top: 34%;
  left: 18%;
  height: 31%;
  width: 62%;
}

.score {
  display: inline-block;
  color: #2d3a4a;
  width: 17%;
  border-radius:15%
}

.scoreList {
  font-family: 'Sancreek', cursive;
}

.scoreList > h2 {
  margin: 0;
  font-family: 'Sancreek', cursive;
}

.draw {
  background-color: #8451a1;
}

.playAgain > p {
  margin: 6% 8% 1% 8%;
}

.scoreList > p {
  display: inline-block;
  margin: 0;
  color: white;
}

.score p {
  margin: 0;
}

.turn {
  margin: 0;
}

.turnPlayerOne {
    color: #f65d4f;
  }

.turnPlayerTwo {
  color: #4ac9b4;
}

footer {
  position : relative;
  text-align: center;
  border-top: 2px solid white;
  background-color: #ab4940;
  height: 200px;
}

.footnote {
  margin: 0;
  position: absolute;
  top: 21%;
  font-family: 'Sancreek', cursive;
  display: inline-block;
}
.footnote h2 {
  color: white;
  margin: 0;
}

.footnote img {
  width: 60px;
}


@media screen and (max-width: 660px) {

  .main {
    margin: 40px auto ;
    width: 350px;
    text-align: center;
  }

  .grid-wrap {
    width: 87%;
  }

  .grid {
    width: 68px;
    height: 68px;
  }

  .title {
    font-size: 1.5em;
  }

  .turn {
    font-size: 1.3em;
  }

  .scoreList {
    font-size: 1.7em;
  }

  .playAgain {
    font-size: 1.1em;
  }
}

.playAgain-btn {
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #2d3a4a 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#943a3a;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ecf0f1;
  font-family: 'Sancreek', cursive;
	font-size:1em;
	padding:6px 9px;
	text-decoration:none;
	/*text-shadow:0px -1px 0px #2b665e;*/
}
.playAgain-btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
.playAgain-btn:active {
	position:relative;
	top:1px;
}
