

body , .main , .grid-wrap {
background: #2d3a4a;
}
.title {
  font-family: 'Sancreek', cursive;
  font-size: 2em;
  color: #f92809;
}
h1 {
    margin: 0;
    padding-left: 4%;
}
h1 > spam {
  font-size: 0.5em;
}

.main {
  margin: 30px auto ;
  width: 70%;
  text-align: center;
}

.turn {
  font-family: 'Sancreek', cursive;
  color: #e7de9b;
  font-size: 2em;
}

.grid-wrap , .playAgain {
  display: inline-block;
  border-radius: 10%;
  margin: 31px auto;;
  width: 40%;
  text-align: center;
}

.grid-wrap {
  padding: 10px;
  margin-top: 2px;
}

.scoreList {
  display: inline-block;
  width: 30%;
  /*height: 470px;*/

  color: #320435;
  vertical-align: top;
}


.grid {
  display: inline-block;
  margin: 1%;
  width: 30%;
  height: 124px;
  background-color: #e7de9b;
  cursor: pointer;
  border-radius: 30%;
}

.playerOne {
  background-color: #f65d4f;
}

.playerTwo {
  background-color: #e9c660;
}

.playAgain {
  background-color: #eb5612;
  opacity: 0.9;
  font-family: 'Fascinate Inline', cursive;
  font-size: 3em;
  color: #320435;

  position: fixed;
  top: 45%;
  left: 44%;
  width: 32%;
  height: 28%;
}


  .score {
    margin: 10px 29% 27px 29%;
    width: 28%;
    height: 90px;
    border-radius:45%
  }

  .scoreList > p {
    margin: 0;
    font-family: 'Sancreek', cursive;
    color: #e7de9b;
    font-size: 3em;
  }

  .draw {
    background-color: #e7de9b;
  }

.playAgain > p {
  margin: 8% 8% 1% 8%;
}

.drawScore, .p1Score, .p2Score {
  font-size: 4em;
  padding: 6%;
  margin-top: 10px;
}

.turn {
  margin: 0;
}

.turnPlayerOne {
    color: #f65d4f;
  }

.turnPlayerTwo {
  color: #e9c660;
}


@media screen and (max-width: 500px) {

  .main {
    margin: 40px auto ;
    width: 90%;
    text-align: center;
  }


    h1 {
      font-size: .5em;
    }

    .grid-wrap , .playAgain {

      width: 60%;
      margin-top: 70px;
    }

    .grid {

      width: 30%;
      height: 70px;
    }

    .scoreList {
      width: 30%;
    }
    .score {
      margin: 30px 29% 61px 29%;
      width: 40%;
      height: 50px;
    }

    .scoreList > p {
      margin: 0;
      font-size: 1.5em;
    }

    .playAgain {
      font-size: 1.5em;
      color: #320435;

      position: fixed;
      top: 24%;
      left: 44%;
      width: 32%;
      height: 28%;
    }

    .drawScore, .p1Score, .p2Score {
      font-size: 3em;
      padding: 0%;
    }


}

.playAgain-btn {
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#943a3a;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#e62e1d;
  font-family: 'Fascinate Inline', cursive;
	font-size:0.4em;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	/*text-shadow:0px -1px 0px #2b665e;*/
}
.playAgain-btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
.playAgain-btn:active {
	position:relative;
	top:1px;
}
